body {
    background-color: #f8f9fa;
}

h2 {
    color: #333;
}

.container {
    margin-top: 30px;
}

body {
  background: url('what-is-a-keylogger.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

